.content-lyout-desc{
    height: 300px;
    justify-content: left;
    position: relative;
}

.left-content-lyout-desc{
    width: 50%;
}

.content-lyout-desc h1{
    margin-bottom: 20px;
    color: white;
}

.content-lyout-desc p{
    line-height: 30px;
    color: white;
}


.re-content-lyout-desc{
    width: 480px;
    height: 438px;
    position: absolute;
    bottom: -130px;
    right: 20px;
}

.re-content-lyout-desc img{
    width: 100%;
    height: 100%;
}





.cart-groups{
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.c-group{
    width: 30%;
    height: 300px;
    margin: 10px;
    border: 2px solid  rgb(43, 41, 44);
    border-radius: 12px;
}

.cart-haeder{
    width: 100%;
    height: 50px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-haeder h3{
    text-transform: capitalize;
}

.group-1{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.group-2{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.group-3{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.group-4{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.group-5{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}


.c-group ul{
    padding: 30px;
}

.c-group ul li{
    margin: 10px 0;
}

.c-group ul li span{
    font-size: 14px;
    text-transform: lowercase;
}

.c-group ul i{
    margin-right: 10px;
}








@media only screen and (min-width: 700px) and (max-width: 1000px) {

    .left-content-lyout-desc {
        width: 54%;
        padding-left: 30px;
    }

    .re-content-lyout-desc {
        width: 57%;
        height: 78%;
        position: absolute;
        bottom: 42px;
        right: -112px;
    }

    .content-lyout-desc {
        height: 380px;
        justify-content: left;
    }

    .re-content-lyout-desc img {
        width: 80%;
        height: 80%;
    }

    .cart-groups {
        margin-top: 45px;
    }

    .c-group {
        width: 47%;
        margin: 10px;
    }
}




@media only screen and (max-width: 700px){

    .contener-lyout {
        width: 100%;
        margin: 0 auto;
    }

    .left-content-lyout-desc {
        width: 90%;
        padding-left: 30px;
    }

    /* .re-content-lyout-desc {
        display: none;
    } */

    .content-lyout-desc {
        height: auto;
        justify-content: left;
    }

    .re-content-lyout-desc img {
        width: 80%;
        height: 80%;
    }

    .cart-groups {
        margin-top: 45px;
    }

    .c-group {
        width: 90%;
        margin: 10px auto;
    }
}